<div class="sections-grid">
  <mat-card 
    *ngFor="let section of sections" 
    class="section-card"
    [routerLink]="section.route !== '#' ? section.route : null"
    [class.clickable]="section.route !== '#'">
    
    <div class="card-content">
      <div class="icon-circle" [style.background-color]="section.color">
        <mat-icon>{{ section.icon }}</mat-icon>
      </div>
      
      <div class="section-info">
        <h3 class="section-title">{{ 'HOME.SECTIONS.' + section.id + '.TITLE' | translate }}</h3>
        <p class="section-description">{{ 'HOME.SECTIONS.' + section.id + '.DESCRIPTION' | translate }}</p>
      </div>
    </div>
    
    <div class="card-actions" *ngIf="section.route !== '#'">
      <button mat-stroked-button [routerLink]="section.route">
        {{ 'HOME.SECTIONS.' + section.id + '.BUTTON' | translate }}
      </button>
    </div>
    
    <div class="card-actions" *ngIf="section.route === '#'">
      <span class="coming-soon">{{ 'COMMON.COMING_SOON' | translate }}</span>
    </div>
    
    <mat-icon class="arrow-icon" *ngIf="section.route !== '#'">arrow_forward</mat-icon>
  </mat-card>
</div>
