.footer-toolbar {
    background-color: #0288D1;
    color: white;
    justify-content: center;
    height: 40px;
    position: static;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    padding: 8px 16px;
    span{
        color: white;
    }
  }