<mat-card>
  <mat-card-title>
    {{ "LETTER_STEPPER.TITLE" | translate }}
  </mat-card-title>
  <mat-card-subtitle>
    {{ "LETTER_STEPPER.DESCRIPTION" | translate }}
    <p *ngIf="!isCepas" style="color:brown">*{{ "LETTER_STEPPER.ACTIRIS_TAB_EXPLANATION" | translate }}</p>
    <div style="display: flex; gap: 15px;justify-content: space-between;">
    <a
      *ngIf="!isCepas"
      style="margin-bottom: 15px"
      matButton="elevated"
      href="https://www.actiris.brussels/fr/citoyens/erdv-meet-us/"
      target="_blank"
      >ACTIRIS</a
    >
    <a
      *ngIf="!isCepas"
      style="margin-bottom: 15px"
      matButton="elevated"
      href="https://www.leforem.be/citoyens/inscription-demandeur-emploi.html"
      target="_blank"
      >FOREM</a
    >
    <a
      *ngIf="!isCepas"
      style="margin-bottom: 15px"
      matButton="elevated"
      href="https://www.vdab.be/registratie/?registratieType=INSCHRIJVING"
      target="_blank"
      >VDAB</a
    >
    </div>
  </mat-card-subtitle>

  <mat-spinner *ngIf="!loadContent" diameter="22"></mat-spinner>
  <mat-divider></mat-divider>
  <mat-vertical-stepper [linear]="true" #stepper>
    <!-- Step 1: Personal Info -->
    <mat-step [stepControl]="personalForm" errorMessage="Name is required.">
      <form [formGroup]="personalForm">
        <mat-form-field appearance="outline">
          <mat-label>{{ "LETTER_FORM.FIELDS.NAME" | translate }}</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{ "LETTER_FORM.FIELDS.SURNAME" | translate }}</mat-label>
          <input matInput formControlName="surName" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{
            "LETTER_FORM.FIELDS.NATIONALITY" | translate
          }}</mat-label>
          <mat-select formControlName="nationality" required>
            <mat-option
              *ngFor="let nationality of nationalities"
              [value]="nationality"
            >
              {{ "LETTER_FORM.NATIONALITIES." + nationality | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox formControlName="family" style="margin-bottom: 10px">
          {{ "LETTER_FORM.FIELDS.FAMILY" | translate }}
        </mat-checkbox>
        <div>
          <button
            matButton="tonal"
            matStepperNext
            [disabled]="personalForm.invalid"
          >
            {{ "COMMON.NEXT" | translate }}
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Step 2: Status -->
    <mat-step [stepControl]="statusForm">
      <form [formGroup]="statusForm">
        <ng-template matStepLabel>{{
          "LETTER_FORM.STEPS.STATUS" | translate
        }}</ng-template>

        <mat-form-field appearance="outline">
          <mat-label>{{ "LETTER_FORM.FIELDS.STATUS" | translate }}</mat-label>
          <mat-select formControlName="status" required>
            <mat-option *ngFor="let status of statuses" [value]="status">
              {{ "LETTER_FORM.STATUSES." + status | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button matButton matStepperPrevious>
            {{ "COMMON.BACK" | translate }}
          </button>
          <button
            matButton="tonal"
            matStepperNext
            [disabled]="!statusForm.valid"
          >
            {{ "COMMON.NEXT" | translate }}
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Step 3: Request -->
    <mat-step [stepControl]="requestForm">
      <form [formGroup]="requestForm">
        <ng-template matStepLabel>{{
          "LETTER_FORM.STEPS.REQUEST" | translate
        }}</ng-template>

        <mat-form-field appearance="outline">
          <mat-label>{{
            "LETTER_FORM.FIELDS.REQUEST_TYPE" | translate
          }}</mat-label>
          <mat-select formControlName="requestType" required>
            <mat-option
              *ngFor="let req of isCepas ? requestTypes : actirisRequestTypes"
              [value]="req"
            >
              {{
                (isCepas
                  ? "LETTER_FORM.REQUESTS."
                  : "LETTER_FORM.REQUESTS_ACTIRIS.") + req | translate
              }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox formControlName="needsTranslator">
          {{ "LETTER_FORM.FIELDS.NEED_TRANSLATOR" | translate }}
        </mat-checkbox>

        <div>
          <button mat-button matStepperPrevious>
            {{ "COMMON.BACK" | translate }}
          </button>
          <button
            matButton="tonal"
            matStepperNext
            [disabled]="!requestForm.valid"
          >
            {{ "COMMON.NEXT" | translate }}
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Step 4: Region -->
    <mat-step [stepControl]="locationForm">
      <form [formGroup]="locationForm">
        <ng-template matStepLabel>{{
          "LETTER_FORM.STEPS.LOCATION" | translate
        }}</ng-template>

        <mat-form-field appearance="outline">
          <mat-label>{{ "LETTER_FORM.FIELDS.COMMUNE" | translate }}</mat-label>
          <input
            matInput
            [ngModel]="currentCpas?.commune"
            formControlName="commune"
            required
          />
        </mat-form-field>
        <mat-slide-toggle
          formControlName="hasWorker"
          [disabled]="!isCepas"
          style="margin-bottom: 20px"
          >{{ "LETTER_FORM.FIELDS.HAS_WORKER_TOGGLE" | translate }}
        </mat-slide-toggle>

        <ng-container *ngIf="locationForm.get('hasWorker')?.value">
          <mat-form-field appearance="outline" style="margin-bottom: 20px">
            <mat-label>{{
              "LETTER_FORM.FIELDS.WORKER_EMAIL_LABEL" | translate
            }}</mat-label>
            <input
              matInput
              type="email"
              formControlName="workerEmail"
              required
            />
            <mat-error
              *ngIf="locationForm.get('workerEmail')?.hasError('required')"
            >
              email
            </mat-error>
            <mat-error
              *ngIf="locationForm.get('workerEmail')?.hasError('email')"
            >
              email format failed
            </mat-error>
          </mat-form-field>
        </ng-container>

        <!-- <mat-form-field appearance="outline">
          <mat-label>{{ "LETTER_FORM.FIELDS.LANGUAGE" | translate }}</mat-label>
          <mat-select formControlName="language" required>
            <mat-option *ngFor="let lang of languages" [value]="lang">
              {{  lang }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <div>
          <button mat-button matStepperPrevious>
            {{ "COMMON.BACK" | translate }}
          </button>
          <button
            matButton="tonal"
            (click)="generateLetter()"
            [disabled]="!locationForm.valid"
          >
            {{ "LETTER_FORM.SUBMIT" | translate }}
          </button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
  <mat-divider></mat-divider>
  <mat-card style="min-height: auto">
    <mat-card-content *ngIf="!currentText">
      <p>{{ isCepas ? "CPAS" : "ACTIRIS" }} Email:{{ currentCpas?.email }}</p>
      <p>Your email could be here</p>
    </mat-card-content>
    <mat-card-content *ngIf="currentText">
      @if (locationForm.get('hasWorker')?.value &&
      locationForm.get('workerEmail')?.value) {
      <p>to: {{ locationForm.get("workerEmail")?.value }}</p>
      } @else {
      <p>CPAS Email: {{ currentCpas?.email || actirisEmail }}</p>
      }
      <p>{{ currentText }}</p>
      <a matButton="elevated" [attr.href]="mailHref" target="_blank">{{
        "LETTER_STEPPER.ACTIONS.OPEN_MAIL" | translate
      }}</a>
    </mat-card-content>
  </mat-card>
</mat-card>
