.bottom-nav {
      position: fixed;
      left: 5px;
      right: 5px;
      bottom: 0;
      height: 64px;
      background:rgba(126, 132, 133, 0.258);
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 32px;
      z-index: 1000;
    }

    .bottom-nav button {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 10px;
      
    }

    .bottom-nav .mat-icon {
      margin-bottom: 2px;
    }

 

    @media (min-width: 768px) {
      .bottom-nav { display: none; }
    }