<div class="useful-links-container">
  <div class="links-grid">
    <a *ngFor="let link of links" 
       [href]="link.url" 
       target="_blank" 
       rel="noopener" 
       class="link-card">
      <div class="link-content">
        <div class="icon-circle" [style.background-color]="link.color">
          <mat-icon>{{ link.icon }}</mat-icon>
        </div>
        <div class="link-info">
          <h4 class="link-title">{{ 'USEFUL_LINKS.ITEMS.' + link.id + '.LABEL' | translate }}</h4>
          <p class="link-description">{{ 'USEFUL_LINKS.ITEMS.' + link.id + '.DESCRIPTION' | translate }}</p>
          <span *ngIf="link.id !== 'EMERGENCY'" class="link-url">{{ link.url }}</span>
          <span *ngIf="link.id === 'EMERGENCY'" class="link-url">tel:112</span>
        </div>
      </div>
      <mat-icon class="external-link-icon">open_in_new</mat-icon>
    </a>
  </div>
</div>
