<mat-card class="intro-card">
  <mat-card-header>
    <div mat-card-avatar class="header-avatar">
      <mat-icon>contacts</mat-icon>
    </div>
    <mat-card-title>{{ "CONTACTS_PAGE.H1" | translate }}</mat-card-title>
    <mat-card-subtitle>{{ "CONTACTS_PAGE.LEAD" | translate }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-tab-group>
  <!-- Crisis Services Tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">sos</mat-icon>
      {{ "CONTACTS_PAGE.CRISIS_SERVICES" | translate }}
    </ng-template>
    <div class="contacts-grid">
      <a *ngFor="let item of contactGroups[0].items" 
         [href]="item.phone ? 'tel:' + item.phone : item.website"
         target="_blank"
         rel="noopener"
         class="contact-card"
         [class.emergency]="item.isEmergency">
        <div class="contact-content">
          <div class="icon-circle" [style.background-color]="item.color">
            <mat-icon>{{ item.icon }}</mat-icon>
          </div>
          <div class="contact-info">
            <h4 class="contact-title">{{ "CONTACTS.LABELS." + item.id | translate }}</h4>
            <p *ngIf="item.phone" class="contact-phone">{{ item.phone }}</p>
            <p *ngIf="item.website" class="contact-url">{{ item.website }}</p>
          </div>
        </div>
        <mat-icon class="action-icon">
          {{ item.phone ? 'call' : 'open_in_new' }}
        </mat-icon>
      </a>
    </div>
  </mat-tab>

  <!-- Social Support Tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">volunteer_activism</mat-icon>
      {{ "CONTACTS_PAGE.SOCIAL_SUPPORT" | translate }}
    </ng-template>
    <div class="contacts-grid">
      <a *ngFor="let item of contactGroups[1].items" 
         [href]="item.website"
         target="_blank"
         rel="noopener"
         class="contact-card">
        <div class="contact-content">
          <div class="icon-circle" [style.background-color]="item.color">
            <mat-icon>{{ item.icon }}</mat-icon>
          </div>
          <div class="contact-info">
            <h4 class="contact-title">{{ "CONTACTS.LABELS." + item.id | translate }}</h4>
            <p class="contact-url">{{ item.website }}</p>
          </div>
        </div>
        <mat-icon class="action-icon">open_in_new</mat-icon>
      </a>
    </div>
  </mat-tab>

  <!-- Employment Tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">work</mat-icon>
      {{ "CONTACTS_PAGE.INTEGRATION_EMPLOYMENT" | translate }}
    </ng-template>
    <div class="contacts-grid">
      <a *ngFor="let item of contactGroups[2].items" 
         [href]="item.website"
         target="_blank"
         rel="noopener"
         class="contact-card">
        <div class="contact-content">
          <div class="icon-circle" [style.background-color]="item.color">
            <mat-icon>{{ item.icon }}</mat-icon>
          </div>
          <div class="contact-info">
            <h4 class="contact-title">{{ "CONTACTS.LABELS." + item.id | translate }}</h4>
            <p class="contact-url">{{ item.website }}</p>
          </div>
        </div>
        <mat-icon class="action-icon">open_in_new</mat-icon>
      </a>
    </div>
  </mat-tab>
</mat-tab-group>
