<mat-card>
  <mat-card-title>{{ "HOME.APP_INFO.TITLE" | translate }}</mat-card-title>
  <mat-card-content>
    <p>{{ "HOME.APP_INFO.DESCRIPTION" | translate }}</p>
    <h4>{{ "HOME.APP_INFO.FEATURES_TITLE" | translate }}</h4>
    <ul class="feature-list">
      <li>
        <div class="icon-holder">
          <mat-icon color="primary">location_on</mat-icon>
        </div>
        <span>{{ "HOME.APP_INFO.FEATURES.CPAS_SEARCH" | translate }}</span>
      </li>
      <li>
        <div class="icon-holder"><mat-icon color="primary">language</mat-icon></div>
        <span>{{ "HOME.APP_INFO.FEATURES.MULTILANG" | translate }}</span>
      </li>
      <li>
        <div class="icon-holder"><mat-icon color="primary">gavel</mat-icon></div>
        <span>{{ "HOME.SECTIONS.LAWYER.DESCRIPTION" | translate }}</span>
      </li>
      <li>
        <div class="icon-holder"><mat-icon color="primary">translate</mat-icon></div>
        <span>{{ "HOME.SECTIONS.TRANSLATOR.DESCRIPTION" | translate }}</span>
      </li>
      <li>
        <div class="icon-holder"><mat-icon color="primary">home_work</mat-icon></div>
        <span>{{ "HOME.SECTIONS.AGENT.DESCRIPTION" | translate }}</span>
      </li>
      <li>
        <div class="icon-holder"><mat-icon color="primary">security</mat-icon></div>
        <span>{{ "HOME.APP_INFO.FEATURES.PRIVACY" | translate }}</span>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
