mat-card {
  background-color: #fefefe;
  mat-card-title {
    color: #2a2f3c;
    text-align: center;
    margin-top: 10px;
  }
  mat-card-content {
    color: #2a2f3c;
    p{
        text-align: justify;
    }
    h4 {
      letter-spacing: 1px;
      color: #2a2f3c;
    }
    .feature-list {
      list-style: none;
      font-weight: 500;
      padding: 0;
      margin: 0;
    }

    .feature-list li {
      display: flex;
      font-size: 18px;
      align-items: center;
      gap: 8px;
      margin-bottom: 12px;
      span {
        font-size: 12px;
      }
    }
    .feature-list .icon-holder {
      width: 30px;
      display: flex;
      align-items: center;
    }
    .feature-list li .icon-holder mat-icon {
      vertical-align: middle;
      font-size: 24px;

      color: #0288d1;
    }
  }
}
