.cpas-card {
    
    margin: 0 auto;
    background-color: white;
    color:#2a2f3c;
    padding: 1rem;
  
    a {
        color:#2a2f3c;
      text-decoration: none;
    }
  
    .my-3 {
      margin: 1rem 0;
    }
  
    mat-chip {
      margin-right: 8px;
    }
    mat-card-content{
        p{
            display: flex;
            align-items: center;
            gap:8px;
            mat-icon{
                color:rgba(187, 45, 45, 0.5);
            }
        }
    }
  }
  .buttons-help-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }