/* Контейнер внутри карточки */
mat-card {
  width: 100%;
  background-color: rgb(242 221 168 / 20%);
  padding: 0;
   margin-top:5px;
}
.telegram-chanel-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  /* Отступ между текстом и кнопкой */
}

/* Стили для текста описания */
.promo-text {
  font-size: 14px; /* Небольшой шрифт */
  color: #555; /* Спокойный серый цвет */
  line-height: 1.4;
  flex: 1; /* Позволяет тексту занимать свободное место */
}

/* Стили для кнопки */
.tg-button {
  /* Приятный полупрозрачный голубой (RGBA) */
  background-color: #24A1DE !important;
  color: white !important; /* Цвет текста и иконки Telegram */
  box-shadow: none !important; /* Убираем лишние тени для чистоты дизайна */
  border: 1px solid rgba(111, 198, 242, 0.559);
}

/* Убираем стандартные паддинги mat-card-content, если они мешают */
mat-card-content {
  padding: 16px !important;
}
