<mat-card>
  <mat-card-content>
    <mat-tab-group animationDuration="500ms">
      ><mat-tab
        ><ng-template mat-tab-label>{{
          "HOUSE_SEARCH.websites" | translate
        }}</ng-template>
        <div style="padding: 15px">
          {{ "HOUSE_SEARCH.websites_desc" | translate }}
        </div>
        <mat-list>
          <mat-list-item
            lines="2"
            *ngFor="
              let site of 'HOUSE_SEARCH.HOUSE_SITES.websites.items' | translate
            "
          >
            <span matListItemTitle
              ><a
                style="text-decoration: none"
                [href]="site.url"
                target="_blank"
                >{{ site.name }}</a
              ></span
            >
            {{ site.short_desc }}
          </mat-list-item>
        </mat-list>
      </mat-tab>

      <mat-tab
        ><ng-template mat-tab-label>{{
          "HOUSE_SEARCH.agencies" | translate
        }}</ng-template>
         <div style="padding: 15px">{{ "HOUSE_SEARCH.agencies_desc" | translate }}</div>
        <mat-list>
          <mat-list-item
            lines="2"
            *ngFor="
              let site of 'HOUSE_SEARCH.HOUSE_SITES.agencies.items' | translate
            "
          >
            <span matListItemTitle
              ><a [href]="site.url" target="_blank">{{ site.name }}</a></span
            >
            {{ site.short_desc }}
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab
        ><ng-template mat-tab-label>{{
          "HOUSE_SEARCH.intermediaries" | translate
        }}</ng-template>
        <div style="padding: 15px">{{ "HOUSE_SEARCH.intermediaries_desc" | translate }}</div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
